<style>
@font-face {
    font-family: Roboto;
   src: url("./Roboto-Italic.ttf")
}
</style>

<style>
.body {
font-family: 'Roboto', sans-serif;
}
</style>

<style>
* {
    box-sizing: border-box;
}
</style>

<style>
 body {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
 }
 </style>

<style>
 .container {
    max-width: 1440px;
    margin: 0 auto;
 }
 </style>

 <style>
 html {
    scroll-behavior: smooth; 
  }
</style>

<style>
.section-title {
    font-size: 20px;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 5px;
}
</style>

<style>
        .section-title {
            font-size: 20px;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 5px;
        }
        </style>
        